@import "tailwindcss";

.linechart {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 300px;
}

.dashboard {
    @apply w-full p-10 pt-0 flex flex-col;
}

.overview-header {
    @apply flex justify-between items-center mb-2 px-2 text-white;
}

.time-switcher {
    @apply flex bg-white/20 rounded-full text-xs;
}

.time-button {
    @apply px-3 py-1 rounded-full transition text-xs;
}

.time-button.active {
    @apply bg-[#1a3a5f] shadow-sm;
}

.time-button.inactive {
    @apply hover:bg-white/10;
}

.bento-grid {
    @apply grid h-[calc(100vh-100px)] w-full gap-4 grid-cols-5 grid-rows-2;
    grid-template-rows: auto 1fr;
}

.card-title {
    @apply text-lg font-bold mb-4 border-b border-gray-200 pb-2;
}

.overview-card {
    @apply col-span-3 row-span-1 min-h-85 bg-white rounded-2xl shadow-lg p-5 flex flex-col;
}

.overview-content {
    @apply flex h-full gap-4;
}

.overview-stats {
    @apply grid grid-cols-2 gap-3 flex-1;
}

.overview-content-mobile {
    @apply hidden;
}

.stat-box {
    @apply bg-gray-100 rounded-xl p-3 flex flex-col justify-center;
}

.stat-label {
    @apply text-xs text-gray-500 font-bold uppercase;
}

.stat-value {
    @apply text-3xl font-bold text-[#1a3a5f];
}

.stat-detail {
    @apply text-xs text-gray-400;
}

.overview-chart {
    @apply w-1/3 flex flex-col items-center justify-center;
}

.alerts-card {
    @apply col-span-2 row-span-2 bg-white rounded-2xl shadow-lg p-5 flex flex-col overflow-hidden;
}

.alerts-list {
    @apply space-y-3 overflow-y-auto;
}

.machines-card {
    @apply col-span-2 row-span-1 bg-white rounded-2xl shadow-lg p-5 flex flex-col;
}

.machines-list {
    @apply space-y-2 overflow-y-auto flex-1;
}

.model-card {
    grid-column: 3 / 4;
    grid-row: 2 / 3;

    @apply col-span-1 row-span-1 bg-white rounded-2xl shadow-lg p-5 flex flex-col;
}

.model-stats {
    @apply flex flex-col gap-3 h-full;
}

.model-card .model-stats .stat-box {
    @apply flex-1 flex flex-col justify-center bg-gray-100 rounded-xl p-3;
}

/* MOBILE BREAKPOINT */
@media (max-width: 670px) {
    .bento-grid {
        @apply grid-cols-1 grid-rows-none h-auto gap-4;
    }

    .overview-card,
    .alerts-card,
    .machines-card {
        @apply col-span-1 min-h-[20vh] h-auto;
        @apply overflow-hidden;
    }

    .overview-content {
        @apply hidden;
    }

    .overview-content-mobile {
        @apply flex w-full gap-4 items-stretch justify-start;
    }

    .overview-content-mobile-chips {
        @apply h-full flex flex-col items-center justify-center rounded-xl shadow-sm overflow-hidden;
    }

    .header-content span {
        @apply hidden;
    }
}

/* BREAK POINT FOR OLD MOBILE */
@media (max-width: 430px) {
    .overview-header {
        @apply flex-col justify-center items-center;
    }

    .overview-content-mobile-chips:first-child {
        @apply hidden;
    }
}
