html,
body {
    overscroll-behavior: none;
    background: linear-gradient(to right, #7db4d6, #35699f);
    color: #000000;
    font-family: Arial, sans-serif;
}

header {
    @apply w-full h-[10vh];
}

main {
    @apply h-[85vh];
}
